*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
google-services.json
ValuesSecret.java
*.jks
/app/debug
/app/release
/app/src/debug
/app/src/release
ids.xml
google_maps_api.xml
